<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit-User-Profile</title>
  <link rel="stylesheet" href="/main-style.css">
</head>

<body>
  <%- include('../partials/admin-nav.ejs') %>

    <div class="wrapper">
      <div class="container login-form">
        <h3>Profile of <%= user.username %>
        </h3>

        <form action="/admin/user/<%= user._id %>?_method=PUT" method="post">
          <label>
            Username:
            <input name="username" type="text" value="<%= user.username %>" placeholder="Enter username" required />
          </label>

          <label>
            Role:
            <input name="role" type="text" value="<%= user.role %>" placeholder="admin - user" required />
          </label>

          <button type="submit">Update User</button>
        </form>
      </div>
    </div>
</body>

</html>