<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard-Links</title>

  <link rel="stylesheet" href="/admin-css/links.css" />
</head>

<body>
  <%- include('../partials/admin-nav.ejs') %>

    <div class="container">
      <h3>Links</h3>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Short URL</th>
              <th>Clicks</th>
              <th>Main URL</th>
              <th>Created By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% links.forEach(link=> { %>
              <tr>
                <td>
                  <a href="/admin/<%= link.shortUrl %>" target="_blank">
                    <%= link.shortUrl %>
                  </a>
                </td>
                <td>
                  <%= link.clicks %>
                </td>
                <td class="url-cell">
                  <a href="<%= link.mainUrl %>" target="_blank">
                    <%= link.mainUrl %>
                  </a>
                </td>
                <td>
                  <a style="text-transform: uppercase" href="/admin/dashboard/links/<%= link.userId._id %>" target="_blank">
                    <%= link.userId.username %>
                  </a>
                </td>
                <td>
                  <div class="actions">
                    <a target="_blank" href="/admin/dashboard/analytics/<%=link._id%>"><button
                        class="btn-small btn">Details</button></a>
                    <form action="/admin/<%=link._id%>?_method=DELETE" method="post">
                      <input style="display: none" type="text" name="redirectTo" value="dashboard" />
                      <button class="btn-small btn-delete btn">Delete</button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>