<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard - Users</title>
  <link rel="stylesheet" href="/tabel-style.css" />
</head>

<body>
  <%- include('../partials/admin-nav.ejs') %>

    <div class="container">
      <h3>Users</h3>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>User Id</th>
              <th>Email</th>
              <th>Username</th>
              <th>Verified</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user=> { %>
              <tr>
                <td>
                  <%=user._id%>
                </td>
                <td>
                  <%=user.email%>
                </td>
                <td>
                  <%= user.username %>
                </td>
                <td>
                  <%=user.isVerified === true ? "✅" : "❌"%>
                </td>
                <td>
                  <%= user.role %>
                </td>
                <td>
                  <div class="actions">
                    <a href="/admin/dashboard/users/<%=user._id%>"><button class="btn-small btn">Edit</button></a>

                    <form action="/admin/user/<%=user._id%>?_method=DELETE" method="post">
                      <button class="btn-small btn-delete btn">Delete</button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>